<div>
    <div>

        <div>
            <a href="/">Express Movies</a>
           <!--  <a href="/">Accueil</a> -->
            <a href="/movies">Films</a>
            <!-- <a href="/movie-search">Recherche</a>
            <span id="connectionLink"></span>   -->       
        </div>       
      
    </div>
</div>