<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>
    <div class="central">
      <% include ./partials/header  %>
    <h1>Express Movies : les site des cinéphiles</h1>
    <p>Votre bonheur est ici!!!!!</p>
    <% include ./partials/footer  %>  
    </div>
        
</body>
</html>